In [17]:
import numpy as np
import gensim
import pandas as pd
import sys
reload(sys)
sys.setdefaultencoding("utf")

In [2]:
train_orders = pd.read_csv("./order_products__train.csv")
products = pd.read_csv("./products.csv")

In [3]:
train_orders.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
5         1       13176                  6          0
6         1       47209                  7          0
7         1       22035                  8          1
8        36       39612                  1          0
9        36       19660                  2          1

In [4]:
products.tail()

,product_id,product_name,aisle_id,department_id
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [5]:
train = pd.merge(train_orders, products, how='left', on="product_id")

In [6]:
train.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,1,49302,1,1,Bulgarian Yogurt,120,16
1,1,11109,2,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16
2,1,10246,3,0,Organic Celery Hearts,83,4
3,1,49683,4,0,Cucumber Kirby,83,4
4,1,43633,5,1,Lightly Smoked Sardines in Olive Oil,95,15

In [7]:
train_produts = train.groupby("order_id").apply(lambda order : order["product_name"].tolist())

In [8]:
train_produts.head(12)

order_id
1      [Bulgarian Yogurt, Organic 4% Milk Fat Whole M...
36     [Grated Pecorino Romano Cheese, Spring Water, ...
38     [Shelled Pistachios, Organic Biologique Limes,...
96     [Roasted Turkey, Organic Cucumber, Organic Gra...
98     [Natural Spring Water, Organic Orange Juice Wi...
112    [Fresh Cauliflower, I Heart Baby Kale, Sea Sal...
170    [Asian Chopped Salad with Dressing, XL Emerald...
218    [Natural Artisan Water, Okra, Organic Yellow P...
226    [Clementines, Bag, Banana, Kids! Chewables Pro...
349    [Pure Irish Butter, Pure Almond Unsweetened Or...
393    [Shredded Mexican Blend Cheese, Clementines, F...
456    [Chorizo Pork, Petite Peas, Max Gel Clog Remov...
dtype: object

In [26]:
sentences[3]

['Roasted Turkey',
 'Organic Cucumber',
 'Organic Grape Tomatoes',
 'Organic Pomegranate Kernels',
 'Organic Raspberries',
 'Organic Whole Strawberries',
 'Organic Blueberries']

In [9]:
longest = np.max(train_produts.apply(len))

In [10]:
print (longest)

80

In [11]:
sentences = train_produts.values

In [12]:
len(sentences)

131209

In [14]:
model_word2vec = gensim.models.Word2Vec(sentences, window=longest, sg=1, workers=4, min_count=2)

In [19]:
model_ft = gensim.models.FastText(sentences, window=longest, sg=1, workers=4, min_count=2)

In [25]:
model_word2vec.wv.most_similar(positive=["Roasted Turkey", "Organic Cucumber"], topn=3)

[('Original No Pulp Premium 100% Orange Juice', 0.8582245111465454),
 ('Organic Baby Sweet Potatoes, Microwaveable', 0.8570525646209717),
 ('Chocolate Coconut Crisps', 0.8554160594940186)]

In [27]:
model_ft.wv.most_similar(positive=["Roasted Turkey", "Organic Cucumber"], topn=3)

[('Organic Roasted Turkey Breast', 0.8901341557502747),
 ('Organic Roasted Sliced Chicken Breast', 0.8747838735580444),
 ('Organic Smoked Turkey Breast', 0.858715295791626)]